<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="portable-net45+win80+wp80" requireReinstallation="True" />
  <package id="Rx-Core" version="2.2.5" targetFramework="portable-net45+win80+wp80" requireReinstallation="True" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable-net45+win80+wp80" requireReinstallation="True" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="portable-net45+win80+wp80" requireReinstallation="True" />
  <package id="Rx-Main" version="2.2.5" targetFramework="portable-net45+win80+wp80" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="portable-net45+win80+wp80" requireReinstallation="True" />
  <package id="Xamarin.Forms" version="2.2.0.45" targetFramework="portable-net45+win80+wp80" requireReinstallation="True" />
</packages>